.detalhesFretes {
   padding: 10px;
}

.container-detalhes-geral {
   display: grid;
   grid-template-columns: auto 200px;
   margin-bottom: 180px;
}

.container-detalhes div img {
   width: 30px;
}

.lateral {
   display: flex;
   justify-content: start;
   align-items: center;
   flex-direction: column;
}

.lateral img {
   border-radius: 15px;
}

.data-pedido {
   grid-column: 1/-1;
}

.veiculo {
   display: flex;
   flex-direction: row;
   gap: 5px 15px;
   align-items: center;
   border-radius: 10px;
}

.veiculo div img {
   max-width: 155px;
}

.veiculo label {
   display: flex;
   gap: 5px 10px;
   padding: 15px 15px;
   background-color: #EBEBEB;
   box-shadow: 2px 2px 2px rgb(0.2,0.2,0.2,0.5);
   width: 100%;
   border-radius: 10px;
}

.veiculo label, .veiculo input {
   cursor: pointer;
}

#valorProposta {
   border: 2px solid black;
   border-radius: 4px;
   text-indent: 10px;
}

.imagem-veiculo img{
   border-radius: 10px;
}

.historico-propostas{
   grid-column: 1/-1;
}

@media (max-width: 450px) {
   .veiculo label{
      flex-direction: column;
   }
   .imagem-veiculo{
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
   }
}

@media (max-width: 800px) {
   .container-detalhes-geral{
      margin-bottom: 80px;
   }
}

@media (max-width: 600px) {
   .container-detalhes div img {
      width: 20px;
   }
   .container-detalhes-geral {
      grid-template-columns: 1fr;
      margin-bottom: 10px;
   }
   .container-detalhes {
      order: 3;
   }
   .lateral {
      order: 2;
   }
   .data-pedido {
      order: 1;
   }
   .div-botao {
      text-align: center;
   }
}
