{% load static %}

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS GLOBAL -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>document.documentElement.className += ' js';</script>
    <!-- FIM CSS GLOBAL -->
    <link rel="stylesheet" href="{% static 'css/geral.css' %}">
    {% block css %} {% endblock %}
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    {% if request.user is None %}
    <nav class="bg-black p-4 text-white">
        <div class="container mx-auto flex justify-between items-center">
            <div>
                <a href="/" class="font-1-xl cor-0">Frete<span class="font-1-xl cor-p6">X</span></a>
            </div>
            <div class="flex gap-3 md:gap-8 items-center">
                <a href="#vantagens" class="hidden md:inline-block font-1-s hover:text-neutral-200">Vantagens</a>
                <a href="#contato" class="hidden md:inline-block font-1-s text-sm md:text-base hover:text-neutral-200">Contato</a>
                <a href="#cadastro" class="font-1-s hover:text-neutral-200 text-sm md:text-base ">Cadastrar-se</a>
                <a href="/login/" class="bg-cor-p6 px-4 py-2 rounded font-1-m font-semibold text-black">Login</a>
            </div>
        </div>
    </nav>
    {% else %}
    <nav class="bg-black border-gray-200 px-2 sm:px-4 py-2.5">
        <div class="container flex flex-wrap justify-between items-center mx-auto gap-4">

            <a href="/" class="font-1-xl cor-0">Frete<span class="font-1-xl cor-p6">X</span></a>

            <div class="flex items-center md:order-2" style="position: relative;">
                <button type="button" class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 ring-2 ring-white focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="dropdown">
                    <span class="sr-only">Open user menu</span>
                    <img class="w-8 h-8 rounded-full" src="{% static 'images/perfil.svg' %}" alt="user photo">
                </button>

                <!-- Dropdown menu -->
                <div class="hidden z-50 my-4 text-base list-none rounded divide-y shadow bg-gray-700 divide-gray-600" id="dropdown" data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="top" style="position:absolute;margin-top:275px;right:10px;">
                    <div class="py-3 px-4">
                        <span class="block text-sm text-white">{{ user.username }}</span>
                        <span class="block text-sm font-medium truncate text-gray-400">{{ user.email }}</span>
                    </div>
                    <ul class="py-1" aria-labelledby="dropdown">
                        {% if request.user.freteiro %}
                        <li>
                            <a href="/perfilFreteiro/" class="block py-2 px-4 text-sm hover:bg-gray-600 text-gray-200 hover:text-white">Perfil</a>
                        </li>
                        <li>
                            <a href="/editarPerfilFreteiro/" class="block py-2 px-4 text-sm hover:bg-gray-600 text-gray-200 
                                hover:text-white">Editar perfil</a>
                        </li>
                        <li>
                            <a href="/meusVeiculos/" class="block py-2 px-4 text-sm hover:bg-gray-600 text-gray-200 hover:text-white">Meus veículos</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}" class="block py-2 px-4 text-sm hover:bg-gray-600 text-gray-200 hover:text-white">Sair</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="/perfilCliente/" class="block py-2 px-4 text-sm hover:bg-gray-600 text-gray-200 hover:text-white">Perfil</a>
                        </li>
                        <li>
                            <a href="/editarPerfilCliente/" class="block py-2 px-4 text-sm hover:bg-gray-600 text-gray-200 
                                hover:text-white">Editar perfil</a>
                        </li>
                        <li>
                            <a href="/dashboardcliente/" class="block py-2 px-4 text-sm hover:bg-gray-600 text-gray-200 hover:text-white">Meus pedidos</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}" class="block py-2 px-4 text-sm hover:bg-gray-600 text-gray-200 hover:text-white">Sair</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>

                <button data-collapse-toggle="mobile-menu-2" type="button" class="inline-flex items-center p-2 ml-1 text-sm rounded-lg md:hidden focus:outline-none focus:ring-2  text-gray-400 hover:bg-gray-700 focus:ring-gray-600" aria-controls="mobile-menu-2" aria-expanded="false" id="menu-1">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                    </svg>
                    <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>

            <div class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1" id="mobile-menu-2">
                <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
                    {% if request.user.freteiro %}
                    <li>
                        {% if request.get_full_path == '/fretes/' %}
                        <a href="#" class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-yellow-600 md:p-0">Fretes disponíveis</a>
                        {% else %}
                        <a href="/fretes/" class="block py-2 pr-4 pl-3 border-b md:hover:bg-transparent md:border-0 md:p-0 text-gray-400 md:hover:text-white hover:bg-gray-700 hover:text-white border-gray-700">Fretes disponíveis</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if request.get_full_path == '/dashboardfreteiro/' %}
                        <a href="#" class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-yellow-600 md:p-0">Meus Fretes</a>
                        {% else %}
                        <a href="/dashboardfreteiro/" class="block py-2 pr-4 pl-3 border-b md:hover:bg-transparent md:border-0 md:p-0 text-gray-400 md:hover:text-white hover:bg-gray-700 hover:text-white border-gray-700">Meus Fretes</a>
                        {% endif %}
                    </li>
                    {% else %}
                    <li>
                        {% if request.get_full_path == '/cadastrofrete/' %}
                        <a href="#" class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-yellow-600 md:p-0">Fazer pedido de frete</a>
                        {% else %}
                        <a href="/cadastrofrete/" class="block py-2 pr-4 pl-3 border-b md:hover:bg-transparent md:border-0 md:p-0 text-gray-400 md:hover:text-white hover:bg-gray-700 hover:text-white border-gray-700">Fazer pedido de frete</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if request.get_full_path == '/dashboardcliente/' %}
                        <a href="#" class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-yellow-600 md:p-0">Meus Fretes</a>
                        {% else %}
                        <a href="/dashboardcliente/" class="block py-2 pr-4 pl-3 border-b md:hover:bg-transparent md:border-0 md:p-0 text-gray-400 md:hover:text-white hover:bg-gray-700 hover:text-white border-gray-700">Meus Fretes</a>
                        {% endif %}
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% endif %}

    {% block content %}
    {% endblock %}

    <footer class="bg-black py-8 px-4">
        <div class="container grid grid-cols-1 md:grid-cols-3 gap-8 mx-auto">
            <div class="flex flex-col gap-4">
                <a href="#" class="font-1-xl cor-0">Frete<span class="font-1-xl cor-p6">X</span></a>
            </div>

            <div class="flex flex-col gap-4">
                <h1 class="font-2-l-b cor-0">Contato</h1>
                <a class="font-1-m cor-5">+55 21 9999-9999</a>
                <a class="font-1-m cor-5">contato@fretex.com</a>
                <a class="font-1-m cor-5">Rua do IF, 42 - Grêmio. Natal - RN</a>
                <div class="flex gap-4">
                    <a href="#" class="hover:brightness-75"><img src="{% static 'images/instagram.svg' %}" alt="instagram"></a>
                    <a href="#" class="hover:brightness-75"><img src="{% static 'images/facebook.svg' %}" alt="facebook"></a>
                    <a href="#" class="hover:brightness-75"><img src="{% static 'images/youtube.svg' %}" alt="youtube"></a>
                </div>
            </div>

            <div class="flex flex-col gap-4">
                <h1 class="font-2-l-b cor-0">Desenvolvedores</h1>
                <div class="flex flex-row gap-8">
                    <div class="flex flex-col gap-4">
                        <a href="https://github.com/Lucas-Veras" class="font-1-m cor-5 hover:text-gray-50">Lucas Oliveira</a>
                        <a href="https://github.com/MathewsDantas" class="font-1-m cor-5 hover:text-gray-50">Mathews Dantas</a>
                        <a href="https://github.com/ItaloGSM" class="font-1-m cor-5 hover:text-gray-50">Italo Gabriel</a>
                    </div>
                    <div class="flex flex-col gap-4">
                        <a href="https://github.com/ArthurOnly" class="font-1-m cor-5 hover:text-gray-50">Arthur Medeiros</a>
                        <a href="https://github.com/savio-84" class="font-1-m cor-5 hover:text-gray-50">Sávio Araújo</a>
                        <a href="https://github.com/c4nt" class="font-1-m cor-5 hover:text-gray-50">Marcos Alexandre</a>
                    </div>
                </div>
            </div>

            <div>
                <span class="font-1-m cor-6">Fretex © Alguns direitos reservados.</span>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/header.js' %}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.js"></script>
    <script src="{% static 'js/mask/src/jquery.mask.min.js' %}"></script>
    <script src="{% static 'js/registerValidation.js' %}"></script>
    {% block js %}
    {% endblock %}
</body>

</html>