{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- CSS GLOBAL -->
        <style src="{% static 'css/global.global.css' %}"></style>
        <style src="{% static 'css/utilidades/cores.css' %}"></style>
        <style src="{% static 'css/utilidades/tipografia.css' %}"></style>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
        <!-- FIM CSS GLOBAL -->

        <!-- CSS LOCAL -->
        {% block css %} {% endblock %}
        <!-- FIM CSS LOCAL -->

        <title>{% block title %} {% endblock %}</title>
    </head>
    <body>
        <header>

        </header>
        {% block content %}
        {% endblock %}
        <footer>

        </footer>
    </body>
</html>