{% extends 'layouts/freteiro.html' %}
{% load static %}
{% block title %}Adicionar Veículo - Freteiro{% endblock %}

{% block content %}
<main class="perfilCliente container mx-auto p-2 mb-12">
    <div class="mb-3 md:mb-5">
        <h1 class="font-1-xl cor-12 mt-2 md:mt-10 mb-3">Perfil</h1>
        <hr>
    </div>
    <form action="" method="post" class="align-initial form-perfil" id="adicionarVeiculo" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-foto">
            {% if user.freteiro.url_foto %}
                <img src="{{ user.freteiro.url_foto.url }}" alt="" class="h-60 rounded-full">
            {% else %}
                <img src="{% static 'images/perfil.svg' %}" alt="" class="h-60 rounded-full">
            {% endif %}
            <div class="form-foto-info ">
                <h2 class="font-1-xl">{{user.username}}</h2>
                <p class="font-1-m">{{user.email}}</p>
            </div>
        </div>

        <div class="form-info">
            <div class="form-info-header">
                <h2 class="font-1-xl mb-3">Editar Perfil</h2>
                <ul class="form-info-links">
                    <li><a href="/perfilFreteiro/" class="link font-1-m font-semibold">Informações do usuário</a></li>
                    <li><a href="/meusVeiculos/" class="link font-1-m font-semibold">Meus Veículos</a></li>
                </ul>
            </div>
            <div class="form-info-content" id="form-veiculos">
                <div class="form-info-container container-total mb-3">
                    <h3 class="font-1-m font-semibold text-xl">Informações do Veículo</h3>
                </div>
                <div class="form-info-container">
                    <div class="veiculo-img">
                        <img src="{% static 'images/inputImage.png' %}" alt="" class="h-44">
                        <div class="">
                            <label for="upload-image" class="botao-padrao cursor-pointer">Upload Imagem</label>
                            <input type="file" name = "imagemveiculo" accept="image/*" value="test" id="upload-image" class="hidden">
                        </div>
                    </div>
                </div>
                <div class="form-info-container">
                    <label for="marca" class="font-1-m">Marca*</label>
                    <input type="text" name="marca" id="marca" class="font-1-s input-perfil" required>

                    <label for="modelo" class="font-1-m">Modelo*</label>
                    <input type="text" name="modelo" id="modelo" class="font-1-s input-perfil" required>

                    <label for="ano" class="font-1-m">Ano*</label>
                    <input type="text" name="ano" id="ano" class="font-1-s input-perfil" required>

                    <label for="placa-veiculo" class="font-1-m">Placa do veículo*</label>
                    <input type="text" name="placaVeiculo" id="placa-veiculo" class="font-1-s input-perfil" required>

                    <label for="cor-veiculo" class="font-1-m">Cor do veículo*</label>
                    <input type="text" name="corVeiculo" id="cor-veiculo" class="font-1-s input-perfil" required>

                    <label class="font-1-m">Tipo de veículo*</label>
                    <div class="flex flex-col md:flex-row gap-x-4">
                        <div>
                            <input type="radio" id="caminhao" name="tipoVeiculo" value="caminhao" required>
                            <label for="caminhao" class="cursor-pointer">Caminhão</label>
                        </div>
                        <div>
                            <input type="radio" id="carro" name="tipoVeiculo" value="carro">
                            <label for="carro" class="cursor-pointer">Carro</label>
                        </div>
                        <div>
                            <input type="radio" id="moto" name="tipoVeiculo" value="moto">
                            <label for="moto" class="cursor-pointer">Moto</label>
                        </div>
                        <div>
                            <input type="radio" id="bicicleta" name="tipoVeiculo" value="bicicleta">
                            <label for="bicicleta" class="cursor-pointer">Bicicleta</label>
                        </div>
                    </div>
                    <div>
                        <label for="tipoVeiculo" class="error"></label>
                    </div>
                    
                    <div class="mt-3">
                        
                        <button class="botao-padrao">+ Adicionar Veículo</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>
{% endblock %}
