{% extends 'layouts/freteiro.html' %}
{% load static %}
{% block title %}Meus Veículos - Freteiro{% endblock %}

{% block content %}
<main class="perfilCliente container mx-auto p-2 mb-12">
    <div class="mb-3 md:mb-5">
        <h1 class="font-1-xl cor-12 mt-2 md:mt-10 mb-3">Perfil</h1>
        <hr>
    </div>
    <form action="" method="post" class="align-initial form-perfil">
        <div class="form-foto">
            {% if user.freteiro.url_foto %}
                <img src="{{ user.freteiro.url_foto.url }}" alt="" class="h-60 rounded-full">
            {% else %}
                <img src="{% static 'images/perfil.svg' %}" alt="" class="h-60 rounded-full">
            {% endif %}
            <div class="form-foto-info ">
                <h2 class="font-1-xl">{{ user.username }}</h2>
                <p class="font-1-m">{{ user.email }}</p>
            </div>
        </div>

        <div class="form-info">
            <div class="form-info-header">
                <h2 class="font-1-xl mb-3">Editar Perfil</h2>
                <ul class="form-info-links">
                    <li><a href="/perfilFreteiro/" class="link font-1-m font-semibold">Informações do usuário</a></li>
                    <li><a href="#" class="link-ativo font-1-m font-semibold">Meus Veículos</a></li>
                </ul>
            </div>
            <div class="form-info-content">
                <div class="form-info-container container-total">
                {% if veiculos %}
                    <h3 class="font-1-m font-semibold text-xl md:text-2xl ">Veiculo(s):</h3>
                {% else %}
                    <h3 class="font-1-m font-semibold text-xl md:text-2xl ">Nenhum veículo cadastrado</h3>
                {% endif %}

                </div>
                {% for veiculo in veiculos %}
                    <div class="form-info-container container-total bg-white" id="veiculo-container">
                        <div class="card-veiculo">
                            <div class="veiculo">
                                <div class="imagem-veiculo flex items-center">
                                    {% if veiculo.url_foto %}
                                    <img src="{{veiculo.url_foto.url}}" alt="" class="h-28">
                                    {% endif %}
                                </div>
                                <div>
                                    <p class="font-1-m">Marca: {{ veiculo.marca }}</p>
                                    <p class="font-1-m">Modelo: {{ veiculo.modelo }}</p>
                                    <p class="font-1-m">Ano: {{ veiculo.ano }}</p>
                                    <p class="font-1-m">Placa do veículo: {{ veiculo.placa }}</p>
                                    <p class="font-1-m">Cor do veículo: {{ veiculo.cor }}</p>
                                    <p class="font-1-m">Tipo do veículo: {{ veiculo.tipo_veiculo.descricao }}</p>
                                </div>
                            </div>
                            <div class="centro">
                                <a href="" class="botao-padrao">Excluir</a>
                            </div>
                        </div>
                        
                    </div>
                {% endfor %}
                <div>
                    <a href="/adicionarVeiculo/" class="botao-padrao mt-1">Adicionar Veículo</a>
                </div>
            </div>
        </div>
    </form>
</main>
{% endblock %}
