{% extends 'layouts/freteiro.html' %}
{% load static %}
{% block title %}Detalhes do frete{% endblock %}

{% block content %}

<main class="detalhesFretes container mx-auto md:padding-1">
    <div class="mb-3 md:mb-5">
        <h1 class="font-1-xl cor-12 mt-2 md:mt-10 mb-3">Detalhes do Frete</h1>
        <hr>
    </div>
    <div class="container-detalhes-geral mb-0">
        <p class="font-1-l mb-3 font-semibold data-pedido">Data do pedido: 13/06/2022</p>
        <div class="container-detalhes">
            <div class="flex items-center gap-3 mb-1 sm:mb-2">
                <img src="{% static 'images/detalhesPerfil.svg' %}" alt="">
                <p class="font-1-m">Cliente: {{pedido.cliente}}</p>
            </div>
            <div class="flex items-center gap-3 mb-1 sm:mb-2">
                <img src="{% static 'images/iconeLocalidade.svg' %}" alt="">
                <p class="font-1-m">Origem: {{pedido.origem}}</p>
                <img src="{% static 'images/flechaDireita.svg' %}" alt="">
                <p class="font-1-m">Destino: {{pedido.destino}}</p>
            </div>
            <div class="flex items-center gap-3 mb-1 sm:mb-2">
                <img src="{% static 'images/calendario.svg' %}" alt="">
                <p class="font-1-m">Data de coleta: {{pedido.data_coleta}} </p>
                <img src="{% static 'images/flechaDireita.svg' %}" alt="">
                <p class="font-1-m">Data de entrega: {{pedido.data_entrega}}</p>
            </div>
            <div class="flex items-center gap-3 mb-1 sm:mb-2">
                <img src="{% static 'images/turno.png' %}" alt="">
                <p class="font-1-m">Turno de coleta: {{pedido.turno_coleta}}</p>
                <img src="{% static 'images/flechaDireita.svg' %}" alt="">
                <p class="font-1-m">Turno de entrega: {{pedido.turno_entrega}}</p>
            </div>
            <div class="flex flex-col gap-1 mb-1 sm:mb-2">
                <div class="flex items-center gap-3 ">
                    <img src="{% static 'images/caminhaoDetalhes.svg' %}" alt="">
                    <p class="font-1-m">Detalhes:</p>
                </div>
                <div class="flex flex-col detalhes-info ml-8 sm:ml-11">
                    <p class="font-1-m border-l-4 border-l-black indent-2 md:indent-4">Destinatário: {{pedido.nomeDestinatario}}</p>
                    <p class="font-1-m border-l-4 border-l-black indent-2 md:indent-4">Kilometragem: ?Km</p>
                    <p class="font-1-m border-l-4 border-l-black indent-2 md:indent-4">Produto:  {{pedido.produto}}</p>
                    <p class="font-1-m border-l-4 border-l-black indent-2 md:indent-4">Tipo de veículo: {% for tipo in pedido.tipo_veiculo.all %} {{tipo}} {% endfor %}</p>
                </div>
            </div>
            <div class="flex items-center gap-1 mb-1 sm:mb-2">
                <img src="{% static 'images/observacao.svg' %}" alt="">
                <p class="font-1-m">Observação:</p>
            </div>
            <p class="font-1-xs mb-4 ml-4">{{pedido.observacao}}</p>
            <div class="div-botao">
                <button id="myBtn" class="botao-padrao font-1-m font-semibold mb-5">Realizar proposta</button>
            </div>
        </div>
        <div class="lateral">
            <img src="{% static 'images/funcionario.jpg' %}" alt="" class="mb-2">
            <p class="font-1-m font-semibold mb-2">Produto: Livros</p>
        </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header mb-2">
                <span class="close">&times;</span>
                <h2 class="font-1-m font-semibold">Proposta</h2>
            </div>
            <div class="modal-body">
                <form action="{% url 'fretes_show' pedido.id %}" method="POST">
                    {% csrf_token %}
                    <p class="font-1-m font-semibold mb-2">Informe o veículo a ser usado:</p>
                    
                    {% for veiculo in request.user.freteiro.veiculo_set.all %}
                    <div class="veiculo mb-3" >
                        <input type="radio" name="veiculo_id" id="veiculo" value="{{veiculo.id}}" required>
                        <label for="veiculo" class="flex items-center justify-start">
                            <div class="imagem-veiculo">
                                <img src="{% static 'images/funcionario.jpg' %}" alt="">
                            </div>
                            <div>
                                <p class="font-1-m">Marca: {{veiculo.marca}}</p>
                                <p class="font-1-m">Modelo: {{veiculo.modelo}}</p>
                                <p class="font-1-m">Ano: {{veiculo.ano}}</p>
                                <p class="font-1-m">Placa do veículo: {{veiculo.placa}}</p>
                                <p class="font-1-m">Cor do veículo: {{veiculo.cor}}</p>
                                <p class="font-1-m">Tipo do veículo: {{veiculo.tipo_veiculo}}</p>
                            </div>
                        </label>
                    </div>
                    {% endfor %}
                    <div class="mb-3 flex flex-col">
                        <label class="font-1-m font-semibold mb-2" for="valor">Informe o valor da proposta:</label>
                        <input type="number" name="valor" id="valor" placeholder="R$" class="cor-12" required>
                    </div>
                    <div class="flex justify-center">
                        <button class="botao-padrao font-1-m font-semibold enviar-proposta mb-5" id="myBtn2" type="submit">Realizar proposta</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<section class="container mx-auto mb-16">
    <h1 class="font-1-xl cor-12 mt-2 md:mt-10 mb-3">Histórico de propostas</h1>
    {% for proposta in pedido.proposta_set.all %}
        {% if proposta.usuario == request.user or pedido.usuario == request.user %}
        <div class="border rounded border-neutral-200 p-4 mb-4">
            <div>
                <p>Valor da proposta: {{ proposta.valor }}</p>
                <p>Data da proposta: {{ proposta.data_criacao }}</p>
                <p>Realizada por {{ proposta.usuario }}</p>
            </div>
            <div>

            </div>
        </div>
        {% endif %}
    {% endfor %}
</section>
{% endblock %}

{% block js %}<script src="{% static 'js/modal.js' %}"></script>{% endblock %}