.js [data-anime="accordion"] dd {
    display: none;
}

[data-anime="accordion"] dt {
    cursor: pointer;
}

[data-anime="accordion"] dd.ativo {
    display: block;
    animation: slideDown 0.5s forwards;
}

[data-anime="accordion"] dd.ativo {
    display: block;
    animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
    from {
        opacity: 0;
        max-height: 0;
    }
    to {
        opacity: 1;
        max-height: 100%;
    }
}