{% extends 'layouts/cliente.html' %}
{% load static %}
{% block title %}Cadastro - Cliente{% endblock %}

{% block content %}

<main class="detalhesFretes  mx-auto md:padding-1 bg-cadastro">
    <div class="container mb-3 md:mb-5 mx-auto md:padding-1" id="marginBottomForm">
        <div class="mb-6">
            <h1 class="font-1-xl cor-0 mt-2 md:mt-5 mb-1" id="titulo">Cadastro do pedido de frete</h1>
            <hr>
        </div>
        <div class="container-cadastro-form">
            <section class="stepBar">
                <ul class="stepBar-list">
                    <li class="stepBar-item">
                        <span class="progress-count">1</span>
                        <span class="progress-label">Origem</span>
                    </li>
                    <li class="stepBar-item">
                        <span class="progress-count">2</span>
                        <span class="progress-label">Destino</span>
                    </li>
                    <li class="stepBar-item  ">
                        <span class="progress-count">3</span>
                        <span class="progress-label">Produto</span>
                    </li>
                    <li class="stepBar-item">
                        <span class="progress-count">4</span>
                        <span class="progress-label">Entrega</span>
                    </li>
                </ul>
            </section>
            <h2 class="font-1-s text-lg font-semibold cor-0 mb-3">Publique seu pedido agora mesmo</h2>
            <form action="{% url 'cadastrodefrete' %}" method="POST" class="form-cadastro-frete" id="cadastroFrete">
                {% csrf_token %}
                <div id="step" class="step">
                    <h3 class="font-1-s font-semibold cor-0 mb-2 text-lg md:text-xl">Origem</h3>
                    <div class="flex flex-col mb-3">
                        <label for="cep" class="font-1-s cor-0 mb-2">CEP*</label>
                                <input type="text" name="cepOrigem" id="cep" placeholder="Digite o seu cep" class="font-1-s" required>
                    </div>
                    <div class="container-campos-2 mb-2">
                        <div class="mb-2">
                            <label for="rua" class="font-1-s cor-0 mb-2">Rua*</label>
                            <input type="text" name="ruaOrigem" id="rua" placeholder="Digite a sua rua" class="font-1-s" required>
                        </div>
                        <div>
                            <label for="numero" class="font-1-s cor-0 mb-2">Número*</label>
                            <input type="text" name="numeroOrigem" id="numero" class="font-1-s" required>
                        </div>
                    </div>
                    <div class="container-campos-1 mb-2">
                        <div class="mb-2">
                            <label for="estado" class="font-1-s cor-0 mb-2">Estado*</label>
                            <select id="estado" name="estadoOrigem" class="font-1-s" required>
                                <option selected disabled>Selecione uma opção</option>
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espírito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SP">São Paulo</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>
                            </select>
                        </div>
                        <div>
                            <label for="cidade" class="font-1-s cor-0 mb-2">Cidade*</label>
                            <input type="text" name="cidadeOrigem" id="cidade" placeholder="Digite a sua cidade" class="font-1-s">
                        </div>
                    </div>
                    <div class="flex flex-col mb-3">
                        <label for="bairro" class="font-1-s cor-0 mb-2">Bairro/Distrito*</label>
                                <input type="text" name="bairroOrigem" id="bairro" placeholder="Digite o seu bairro" class="font-1-s" required>
                    </div>
                    <div class="flex flex-col mb-4">
                        <label for="complemento" class="font-1-s cor-0 mb-2">Complemento</label>
                        <input type="text" name="complemento-origem" id="complemento" placeholder="Digite o complemento" class="font-1-s">
                    </div>
                    <div class="flex gap-3 meio justify-center mb-2">     
                        <a class="botao-padrao" id="next"  href="#titulo">Próximo</a>
                    </div>
                </div>
                <div id="step" class="step">
                    <h3 class="font-1-s font-semibold cor-0 mb-2 text-lg md:text-xl">Destino</h3>
                    <div class="flex flex-col mb-3">
                        <label for="cep" class="font-1-s cor-0 mb-2">CEP*</label>
                                <input type="text" name="cepDestino" id="cep2" placeholder="Digite o seu cep" class="font-1-s" required>
                    </div>
                    <div class="container-campos-2 mb-2">
                        <div class="mb-2">
                            <label for="rua" class="font-1-s cor-0 mb-2">Rua*</label>
                            <input type="text" name="ruaDestino" id="rua" placeholder="Digite a sua rua" class="font-1-s" required>
                        </div>
                        <div>
                            <label for="numero" class="font-1-s cor-0 mb-2">Número*</label>
                            <input type="text" name="numeroDestino" id="numero" class="font-1-s" required>
                        </div>
                    </div>
                    <div class="container-campos-1 mb-2">
                        <div class="mb-2">
                            <label for="estado" class="font-1-s cor-0 mb-2">Estado*</label>
                            <select id="estado" name="estadoDestino" class="font-1-s" required>
                                <option selected disabled>Selecione uma opção</option>
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espírito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SP">São Paulo</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>
                            </select>
                        </div>
                        <div>
                            <label for="cidade" class="font-1-s cor-0 mb-2">Cidade*</label>
                            <input type="text" name="cidadeDestino" id="cidade" placeholder="Digite a sua cidade" class="font-1-s" required>
                        </div>
                    </div>
                    <div class="flex flex-col mb-3">
                        <label for="bairro" class="font-1-s cor-0 mb-2">Bairro/Distrito*</label>
                                <input type="text" name="bairroDestino" id="bairro" placeholder="Digite o seu bairro" class="font-1-s" required>
                    </div>
                    <div class="flex flex-col mb-4">
                        <label for="complemento" class="font-1-s cor-0 mb-2">Complemento</label>
                        <input type="text" name="complemento-destino" id="complemento" placeholder="Digite o complemento" class="font-1-s">
                    </div>
                    <div class="flex flex-col sm:flex-row gap-3 meio justify-center mb-2 meio">  
                        <a class="botao-padrao" id="prev" href="#titulo">Anterior</a>   
                        <a class="botao-padrao" id="next" href="#titulo">Próximo</a>
                    </div>
                </div>

                <div id="step" class="step">
                    <div class="flex flex-col items-center sm:flex-row gap-3 items-center mb-4 mt-4">
                        <img src="{% static 'images/funcionario.jpg' %}" class="img-cadastro-frete" alt="">
                        <div class="flex w-full justify-center">
                            <label for="upload-image" class="botao-padrao cursor-pointer">Enviar imagem</label>
                            <input type="file" name="imagem" accept="image/*" value="test" id="upload-image" class="hidden">
                        </div>
                    </div>
                    <div class="flex flex-col mb-4">
                        <label for="produto" class="font-1-s cor-0 mb-2">Produto:</label>
                        <input type="text" name="produto" id="produto" placeholder="Digite o produto a ser transportado" class="font-1-s" required>
                    </div>
                    <label class="font-1-m-b cor-0 mb-2 text-base md:text-lg">Tipo do veículo que pode transportar:</label>
                    <div class="flex flex-col sm:flex-row mb-2 gap-x-3">
                        <div class="flex flex-row items-center gap-1">
                            <input type="checkbox" name="tipoveiculos" id="carro" value="carro" required>
                            <label for="carro" class="font-1-s cor-0 cursor-pointer">Carro</label>
                        </div>
                        <div class="flex flex-row items-center gap-1">
                            <input type="checkbox" name="tipoveiculos" id="moto" value="moto">
                            <label for="moto" class="font-1-s cor-0 cursor-pointer">Moto</label>
                        </div>
                        <div class="flex flex-row items-center gap-1">
                            <input type="checkbox" name="tipoveiculos" id="caminhao" value="caminhao">
                            <label for="caminhao" class="font-1-s cor-0 cursor-pointer">Caminhão</label>
                        </div>
                        <div class="flex flex-row items-center gap-1">
                            <input type="checkbox" name="tipoveiculos" id="bicicleta" value="bicicleta">
                            <label for="bicicleta" class="font-1-s cor-0 cursor-pointer">Bicicleta</label>
                        </div>
                    </div>
                    <div>
                        <label for="tipoVeiculos" class="error"></label>
                    </div>
                    <div class="flex flex-col mb-4">
                        <label for="observacao" class="font-1-s cor-0 mb-2">Observação:</label>
                        <textarea name="observacao" id="observacao" cols="30" rows="10" placeholder="Digita alguma observação sobre o pedido" style="resize: none"></textarea>
                    </div>
                    <div class="flex flex-col sm:flex-row gap-3 meio justify-center mb-2">
                        <a class="botao-padrao" id="prev" href="#titulo">Anterior</a>                     
                        <a class="botao-padrao" id="next" href="#titulo">Próximo</a>
                    </div>
                </div>

                <div id="step" class="step">
                    <div class="flex flex-col mb-4">
                        <label for="nomedestinatario" class="font-1-s cor-0 mb-2">Nome do Destinatário:</label>
                        <input type="text" name="nomedestinatario" id="nomedestinatario" placeholder="Digite o nome do Destinatário" class="font-1-s" required>
                    </div>
                    <div class="flex flex-col mb-4">
                        <label class="font-1-s cor-0 mb-2" for="data-turno-coleta">Data e turno de coleta:</label>
                        <div class="flex flex-col sm:flex-row gap-2 mb-2">
                            <div class="flex flex-col w-full md:w-1/2">
                                <input type="date" name="dataColeta" id="dataColeta" required>
                            </div>
                            <div class="flex flex-col w-full md:w-1/2">
                                <select name="turnoColeta" id="turnoColeta" required>
                                    <option selected disabled>Selecione um turno</option>
                                    <option value="manhã">Manhã</option>
                                    <option value="tarde">Tarde</option>
                                </select>
                            </div>
                        </div>
                        <label class="font-1-s cor-0 mb-2" for="data-turno-entrega">Data e turno de entrega:</label>
                        <div class="flex flex-col sm:flex-row gap-2">
                            <div class="flex flex-col w-full md:w-1/2">
                                <input type="date" name="dataEntrega" id="dataEntrega" required>
                            </div>
                            <div class="flex flex-col w-full md:w-1/2">
                                <select name="turnoEntrega" id="turnoEntrega" required>
                                    <option selected disabled>Selecione um turno</option>
                                    <option value="manhã">Manhã</option>
                                    <option value="tarde">Tarde</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col sm:flex-row gap-3 meio justify-center mb-2 meio">
                        <a class="botao-padrao" id="prev">Anterior</a>                     
                        <button class="botao-padrao">Publicar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}

{% block js %}
<script src="{% static 'js/formEtapas.js' %}"></script>
<script src="{% static 'js/stepBar.js' %}"></script>
{% endblock %}