#veiculo-container {
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 15px 15px;
}

#form-veiculos {
    grid-template-columns: 1fr 3fr;
    gap: 8px 30px;
}

.form-adicionar-veiculo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.veiculo-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.veiculo-img img {
    width: 230px;
    border: 1px solid black;
    border-radius: 6px;
}

.card-veiculo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

@media (max-width: 1024px) {
    #form-veiculos {
        grid-template-columns: 1fr;
    }
    .card-veiculo {
        flex-direction: column;
        gap: 15px;
        
    }
}

@media (max-width: 768px) {

    .card-veiculo {
        align-items: initial;
    }
    .centro {
        align-self: center;
    }
}

@media (max-width: 550px) {
    .veiculo {
        flex-direction: column;
    }
}