body .cadastro-cliente {
    max-width: 450px;
}

.container-formulario form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.container-formulario p {
    margin-bottom: 30px;
}

.container-formulario label,
.container-formulario input {
    margin-bottom: 10px;
}

.container-formulario input {
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 0.9rem;
}

.container-formulario input[type="submit"] {
    margin-bottom: 10px;
    background-color: #05b436;
    border: none;
    border-radius: 15px;
    padding: 6px 0px;
    cursor: pointer;
    transition: 0.5s;
}

.container-formulario input[type="submit"]:hover {
    background-color: #077727;
}

.container-formulario input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

.container-formulario input[type="checkbox"],
.container-formulario label {
    cursor: pointer;
}

.container-formulario .termos {
    display: flex;
    align-items: center;
    gap: 0px 10px;
}

.container-formulario a {
    display: inline-block;
    transition: 0.3s;
}
.container-formulario .termos a:hover {
    color: #bb8300;
}

.container-formulario p:last-child {
    color: #8b8585;
    margin-bottom: 20px;
}

@media (max-width: 450px) {
    body .cadastro-cliente {
        margin-bottom: 0;
    }
    .form-bg-2 {
        background-color: #202020;
    }
}
