.container-escolha {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    background-color: #202020;
    max-width: 600px;
    border: none;
    border-radius: 10px;
    padding: 40px 60px 20px 60px;
}

@media (min-width: 1200px) {
    .container-escolha {
        max-width: 800px;
    }
}

.container-opcao {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0 10px;
    background-color: #696969;
    border: 1px solid white;
    padding: 40px 30px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.container-opcao:hover {
    background-color: #88815c;
}

.container-opcao .opcao-texto {
    text-align: left;
}

@media (max-width: 600px) {
    .bg-escolha {
        background-color: #202020;
    }
    .container-escolha {
        margin-top: 0;
        border-radius: 0;
        padding: 35px 25px 10px 25px;
        gap: 0 5px;
    }
    .container-escolha a h2,
    .container-escolha a p {
        font-size: 1.125rem;
        line-height: 1.35;
    }
}

@media (max-width: 450px) {
    .container-opcao .img-opcao {
        max-width: 80px;
    }
    .container-escolha {
        padding: 20px 15px 5px 15px;
    }
    .container-opcao {
        padding: 25px 15px;
        margin-bottom: 10px;
    }
}

@media (max-width: 350px) {
    .container-opcao .img-opcao {
        max-width: 50px;
    }
}
