.form-bg {
    background-color: #121212;
}

@media (max-width: 400px) {
    .form-bg {
        background-color: #202020;
    }
}

.container-formulario {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    background-color: #202020;
    border: none;
    border-radius: 10px;
    padding: 35px 50px 10px 50px;
    margin-bottom: 20px;
}

@media (max-width: 450px) {
    .container-formulario {
        margin-bottom: 0;
        margin-top: 0;
        border-radius: 0;
        padding: 35px 25px 10px 25px;
    }
}
