.container-login {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    max-width: 500px;
    background-color: #202020;
    border: none;
    border-radius: 10px;
    padding: 35px 50px 10px 50px;
}

.container-login p {
    margin-bottom: 30px;
}

.container-login form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.container-login label {
    margin-bottom: 10px;
}

.container-login #email {
    margin-bottom: 20px;
}

.container-login #senha {
    margin-bottom: 10px;
}

.container-login #email,
.container-login #senha {
    border-radius: 10px;
    border: none;
    padding: 13px;
    font-size: 0.9rem;
}

.container-login input[type="submit"] {
    margin-bottom: 15px;
    background-color: #05b436;
    border: none;
    border-radius: 10px;
    padding: 6px 0px;
    cursor: pointer;
    transition: 0.5s;
}

.container-login input[type="submit"]:hover {
    background-color: #05922d;
}

.container-login a {
    display: inline-block;
    transition: 0.3s;
}

.container-login form a {
    color: #117eff;
    margin-bottom: 20px;
}

form > a:hover {
    color: #0865d6;
}

p > a:hover {
    color: var(--cor-p6);
}

@media (max-width: 400px) {
    .container-login {
        margin-top: 0px;
        padding: 35px 25px 10px 25px;
    }
    .container-login > p {
        margin-bottom: 20px;
    }
}
