{% extends 'layouts/cliente.html' %}
{% load static %}
{% block title %}Dashboard - Cliente{% endblock %}

{% block content %}
<main class="dashboardCliente container mx-auto p-2 mb-12">
    <section>
        <div class="mb-3 md:mb-5">
            <h1 class="font-1-xl cor-12 mt-2 md:mt-10 mb-3">Meus Fretes</h1>
            <hr>
        </div>
        <div class="container-dashboard">
            <div class="cardCliente">
                <div class="perfilCliente">
                    <img src="{% static 'images/perfil.svg' %}" alt="">
                    <p class="font-1-m">{{ user.username }}</p>
                </div>
                <div class="fretesDoAno">
                    <h2 class="font-1-m font-semibold text-lg md:text-2xl">Fretes do ano</h2>
                    <button class="font-1-xs text-base md:text-lg">Atual</button>
                    <button class="font-1-xs text-base md:text-lg">2021</button>
                    <button class="font-1-xs text-base md:text-lg">2020</button>
                </div>  
            </div>
            <div>
                <a href="/cadastrofrete/" class="botao-padrao px-9 py-3">Novo Pedido de Frete</a>
            </div>
        </div>
    </section>
    <section>
        <div class="mb-3 md:mb-5">
            <h1 class="font-1-xl cor-12 mt-2 md:mt-10 mb-3">Fretes</h1>
            <hr>
        </div>
        <div>
            <dl data-anime="accordion">
                <section class="section mb-3">
                    <dt>
                        <a class="block flex justify-between items-center">
                            <span class="esperaDashboard font-1-m text-white inline-block">Em espera</span>
                            <img src="{% static 'images/setaBaixo.svg' %}" alt="">
                        </a>
                    </dt>
                        <dd class="mt-3 md:mt-5 teste">
                        {% if pedidos %}
                            {% for pedido in pedidos %}
                                {% if pedido.status.descricao == "Em espera" %}
                                    <div class="rounded-lg bg-white border border-neutral-200 p-4 flex flex-col lg:flex-row gap-4 lg:gap-8 mb-3 caixa-frete">
                                        <div class="flex justify-center lg:justify-start grow-1">
                                            <img class="rounded-md w-36 h-36" src="{% static 'images/funcionario.jpg' %}"/>
                                        </div>
                                        <div class="flex flex-col gap-4 grow">
                                            <p><strong>Origem</strong>: {{ pedido.origem.rua }}</p>
                                            <p><strong>Destino</strong>: {{ pedido.destino.rua }}</p>
                                            <p><strong>KM</strong>: teste</p>
                                        </div>
                                        <div class="flex flex-col gap-4 grow">
                                            <p><strong>Produto</strong>: {{ pedido.produto.nome }}</p>
                                            <p><strong>Tipo de veiculo</strong>: 
                                                {% for tipo in pedido.tipo_veiculo.all %}
                                                    {{tipo.descricao}} /
                                                {% endfor %}
                                            </p>
                                        </div>
                                        <div class="flex flex-col lg:pr-9 grow items-center lg:items-end justify-center">
                                            <a href="/dashboardcliente/detalhes" class="botao-padrao font-1-m font-semibold">Detalhes</a>
                                        </div>
                                    </div>
                                {% else %}
                                    {% if forloop.first %}
                                        <p class="font-1-m font-semibold">Não há fretes em espera</p>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        
                        {% else %}
                            <p class="font-1-m font-semibold">Não há fretes em espera</p>
                        {% endif %}
                        </dd>
                    </section>

                <section class="section mb-3">
                    <dt>
                        <a class="block flex justify-between items-center">
                            <span class="andamentoDashboard font-1-m text-white inline-block">Em andamento</span>
                            <img src="{% static 'images/setaBaixo.svg' %}" alt="">
                        </a>
                    </dt>
                    <dd class="mt-5">
                    {% if pedidos %}
                        {% for pedido in pedidos %}
                            {% if pedido.status.descricao == "Em andamento" %}
                                <div class="rounded-lg bg-white border border-neutral-200 p-4 flex flex-col lg:flex-row gap-4 lg:gap-8 mb-3 caixa-frete">
                                    <div class="flex justify-center lg:justify-start grow-1">
                                        <img class="rounded-md w-36 h-36" src="{% static 'images/funcionario.jpg' %}"/>
                                    </div>
                                    <div class="flex flex-col gap-4 grow">
                                        <p><strong>Origem</strong>: {{ pedido.origem.rua }}</p>
                                        <p><strong>Destino</strong>: {{ pedido.destino.rua }}</p>
                                        <p><strong>KM</strong>: teste</p>
                                    </div>
                                    <div class="flex flex-col gap-4 grow">
                                        <p><strong>Produto</strong>: {{ pedido.produto.nome }}</p>
                                        <p><strong>Tipo de veiculo</strong>: 
                                            {% for tipo in pedido.tipo_veiculo.all %}
                                                {{tipo.descricao}} /
                                            {% endfor %}
                                        </p>
                                    </div>
                                    <div class="flex flex-col lg:pr-9 grow items-center lg:items-end justify-center">
                                        <a href="/dashboardcliente/detalhes" class="botao-padrao font-1-m font-semibold">Detalhes</a>
                                    </div>
                                </div>
                            {% else %}
                                {% if forloop.first %}
                                    <p class="font-1-m font-semibold">Não há fretes em andamento</p>
                                {% endif %}
                        {% endif %}
                    {% endfor %}
                    
                    {% else %}
                        <p class="font-1-m font-semibold">Não há fretes em andamento</p>
                    {% endif %}
                    </dd>
                </section>

                <section class="section mb-3">
                    <dt>
                        <a class="block flex justify-between items-center">
                            <span class="encerradoDashboard font-1-m text-white inline-block">Encerrados</span>
                            <img src="{% static 'images/setaBaixo.svg' %}" alt="">
                        </a>
                    </dt>
                    <dd class="mt-5">
                    {% if pedidos %}
                        {% for pedido in pedidos %}
                            {% if pedido.status.descricao == "Encerrado" %}
                                <div class="rounded-lg bg-white border border-neutral-200 p-4 flex flex-col lg:flex-row gap-4 lg:gap-8 mb-3 caixa-frete">
                                    <div class="flex justify-center lg:justify-start grow-1">
                                        <img class="rounded-md w-36 h-36" src="{% static 'images/funcionario.jpg' %}"/>
                                    </div>
                                    <div class="flex flex-col gap-4 grow">
                                        <p><strong>Origem</strong>: {{ pedido.origem.rua }}</p>
                                        <p><strong>Destino</strong>: {{ pedido.destino.rua }}</p>
                                        <p><strong>KM</strong>: teste</p>
                                    </div>
                                    <div class="flex flex-col gap-4 grow">
                                        <p><strong>Produto</strong>: {{ pedido.produto.nome }}</p>
                                        <p><strong>Tipo de veiculo</strong>: 
                                            {% for tipo in pedido.tipo_veiculo.all %}
                                                {{tipo.descricao}} /
                                            {% endfor %}
                                        </p>
                                    </div>
                                    <div class="flex flex-col lg:pr-9 grow items-center lg:items-end justify-center">
                                        <a href="/dashboardcliente/detalhes" class="botao-padrao font-1-m font-semibold">Detalhes</a>
                                    </div>
                                </div>
                            {% else %}
                            {% if forloop.first %}
                                <p class="font-1-m font-semibold">Não há fretes encerrados</p>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    
                    {% else %}
                        <p class="font-1-m font-semibold">Não há fretes encerrados</p>
                    {% endif %}
                    </dd>
                </section>
        </div>
    </section>
</main>
{% endblock %}

{% block js %}<script src="{% static 'js/accordion.js' %}"></script>{% endblock %}