.detalhesFretes {
   padding: 10px;
}

.container-detalhes-geral {
   display: grid;
   grid-template-columns: auto 200px;
   margin-bottom: 180px;
}

.botao-padrao {
   padding: 5px 10px;
   background: linear-gradient(180deg, #FFBF00 0%, #F2A50C 100%);
   box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
   border-radius: 20px;
   font-weight: bold;
   margin-bottom: 20px;
}

.botao-padrao:hover {
   background: linear-gradient(180deg, #ebb001 0%, #db960b 100%);
}

.container-detalhes div img {
   width: 30px;
}

.lateral {
   display: flex;
   justify-content: start;
   align-items: center;
   flex-direction: column;
}

.data-pedido {
   grid-column: 1/-1;
}

.veiculo {
   display: flex;
   flex-direction: row;
   gap: 5px 15px;
   align-items: center;
   border-radius: 10px;
}

.veiculo div img {
   max-width: 155px;
}

.veiculo label {
   display: flex;
   gap: 5px 10px;
   padding: 15px 15px;
   background-color: #EBEBEB;
   border: 1px solid black;
   width: 100%;
   border-radius: 10px;
}

.veiculo label, .veiculo input {
   cursor: pointer;
}

#valorProposta {
   border: 2px solid black;
   border-radius: 4px;
   text-indent: 10px;
}

@media (max-width: 450px) {
   .veiculo label{
      flex-direction: column;
   }
   .imagem-veiculo{
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
   }
}

@media (max-width: 800px) {
   .container-detalhes-geral{
      margin-bottom: 80px;
   }
}

@media (max-width: 600px) {
   .container-detalhes div img {
      width: 20px;
   }
   .container-detalhes-geral {
      grid-template-columns: 1fr;
      margin-bottom: 10px;
   }
   .container-detalhes {
      order: 3;
   }
   .lateral {
      order: 2;
   }
   .data-pedido {
      order: 1;
   }
   .div-botao {
      text-align: center;
   }
}

/* MODAL */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   padding-top: 100px; /* Location of the box */
   padding-left: 10px;
   padding-right: 10px;
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

@media (max-width: 450px) {
   .modal{
      padding-top: 20px;
      padding-bottom: 20px;
   }
}

.modal-content {
   position: relative;
   background-color: #fefefe;
   margin: auto;
   padding: 0;
   border: 1px solid #888;
   border-radius: 10px;
   max-width: 600px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
   -webkit-animation-name: animatetop;
   -webkit-animation-duration: 0.4s;
   animation-name: animatetop;
   animation-duration: 0.4s;
}
 
@-webkit-keyframes animatetop {
   from {top:-300px; opacity:0} 
   to {top:0; opacity:1}
}
 
@keyframes animatetop {
   from {top:-300px; opacity:0}
   to {top:0; opacity:1}
}
 
.close {
   color: black;
   float: right;
   font-size: 28px;
   font-weight: bold;
}
 
.close:hover,
.close:focus {
   color: rgb(66, 64, 64);
   text-decoration: none;
   cursor: pointer;
}
 
.modal-header {
   padding: 2px 16px;
   text-align: center;
}
 
.modal-header h2{
   margin-top: 10px;
}

.modal-body {padding: 2px 16px;}
 
.modal-footer {
   padding: 2px 16px;
   background-color: #5cb85c;
   color: white;
}
